body {
  @include flex(center,center,column);
  min-height: 100vh;
  // background-color: aqua;
  // background-image: linear-gradient(to bottom right,aqua,magenta);
  background-image: url("../img/crowd-grad.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  @include flex(flex-start,center,column);
  width: 100%;
  flex: 1 0 auto;
  // background-image: linear-gradient(100deg,aqua,magenta);
  // opacity: 0.7;
 }

.main .container {
  @include flex(center,center,column);
}

.main button {
  margin-top: 200px;
  margin-bottom: 70px;
  @include font(24px,black,700);
  background-color: magenta;
  padding: 20px 40px;
  border: 7px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
  // transition: 300ms ease-in-out;
  &:hover {
    background-color: #e500e5; }
  &:active {
    transform: translateY(2px) scale(0.99);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
  }
  &:focus {
    outline: 0;
  }
   }

.main p {
  @include font(20px,black,400);
  // text-shadow: 0px 0px 4px 10px white;
  // -webkit-font-smoothing: antialiased;
  padding: 25px 0px 0px 0px;
  line-height: 1.6;
  text-align: justify; }
