

@media only screen and (max-width: 1000px) {
  .main {
    @include flex(flex-start,center,column);
    width: 100%;
    flex: 1 0 auto; }
  h3 { margin-right: 25px; }
  .header .container {
    margin-right: 15px; }
  .header {
    height: 200px; }
  .header ul {
    transform: translateY(0px); }
  .header .logo {
    height: 130px; }
  .header li {
    padding-right: 0px;
    text-align: right;
    display: block;
    line-height: 1.4;
    & a {
      padding: 0px 5px 0px 10px;
      border-right: 10px solid magenta;
      border-bottom: none;
      @include font(26px);
      text-decoration: none;
      &:hover {
        border-right: 10px solid white;
        background-color: aqua;
        color: black; } } }
  .main button {
    margin-top: 275px; }
  body {
    @include flex(center,center,column);
    min-height: 100vh;
    // background-image: url("../img/crowd-bw-grad-4.jpg");
    // background-size: cover;
    // background-position: center;
    // background-attachment: fixed;
    background-image: linear-gradient(120deg,aqua,magenta); }
  .container {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px; }
  .gig {
    width: calc(100vw - 50px);
    margin-left: 25px;
    margin-right: 25px; }
  .sounds, .venues, .contact {
    width: calc(100vw - 50px);
    margin-left: 25px;
    margin-right: 25px; }
  .clients {
    margin-left: 25px;
    margin-right: 25px;
    max-width: calc(100vw - 50px); }
  .clients .gallery {
    @include flex(space-around,center,row);
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 250px;
    margin-top: 150px;
    max-width: calc(90% - 50px); }
  p {
    margin-left: 25px;
    margin-right: 25px; }
  .main p {
    margin-left: 25px;
    margin-right: 25px; }
  .footer {
    height: 80px; }
  .footer .social-media {
    height: 40px; } }


@media only screen and (max-width: 768px) {
  // h3 { margin-right: 25px; }
  .header {
    height: 200px; }
  .header ul {
    @include flex(center,center);
    flex-wrap: wrap;  }
  .clients {
    margin-left: 25px;
    margin-right: 25px;
    max-width: calc(100vw - 50px); }
  .clients .gallery {
    // @include flex(space-around,center,row);
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 250px;
    margin-top: 150px;
    max-width: calc(90% - 50px); }
  .sounds, .venues, .contact {
    max-width: calc(100vw - 50px);
    margin-left: 25px;
    margin-right: 25px; }
  .main p {
    margin-left: 25px;
    margin-right: 25px; }
  .clients {
    margin-left: 25px;
    margin-right: 25px;
    max-width: calc(100vw - 50px); }
  .header li {
    display: inline;
    line-height: 1.8;
    border: none;
    padding: 0px;
    margin: 5px 5px;
    & a {
      border-right: 0px;
      border-bottom: 10px solid magenta;
      padding: 0px; }
    &:hover {
      background-color: a; } }
   .header li a:hover {
     border-right: none;
     background-color: aqua; }
  .header .container {
     @include flex(space-around, center, column); }
  .gig-title {
     margin-left: 20px; }
  .header .logo {
    height: 58px;
    margin-bottom: -50px; }
  .main button {
    margin-top: 300px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px; }
  .footer {
    display: none; } }



// @media only screen and (max-width: 660px) {
//   .header .container {
//     margin-right: 15px; }
//   .header .logo {
//     height: 80px; }
//   .main button {
//     padding: 20px; } }
