body {
  font-family: sans-serif;
}

.time-block {
    background-color: black;
    color: white;
    font-size: 18px;
    width: 50px;
    text-align: center;
    height: 100%;
    bottom: 0;
}

.time-block h4 {
    font-size: 24px;
    margin: 0;
}


.form-side-events {
    height: 500px;
}

.form-side-events-item {
    background-color: gray;
    border: 1px solid black;
}

.form-side-events-item:hover {
    background-color: gray;
    border: 1px solid white;
}
