body {
  @include flex(center,center,column);
  min-height: 100vh;
  background-image: linear-gradient(120deg,aqua,magenta);
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

h3 {
  @include font(24px,black,700);
  text-align: right;
  margin-top: 200px;
  margin-bottom: 25px; }

.main {
  @include flex(flex-start,center,column);
  width: 100%;
  flex: 1 0 auto; }

.main .container {
  @include flex(center,center,column); }

.main button {
  margin-top: 300px;
  margin-bottom: -200px;
  @include font(24px,black,700);
  background-color: #e500e5;
  padding: 20px 40px;
  border: 7px solid black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
  &:hover {
    background-color: magenta; }
  &:active {
    transform: translateY(2px) scale(0.99);
    background-color: #FF66FF;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5); }
  &:focus {
    outline: 0; } }

.main p {
  @include font(20px,black,400);
  padding: 25px 0px 0px 0px;
  line-height: 1.6;
  text-align: justify; }
