<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    var $j = jQuery.noConflict(true);
    </script>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo-icon.png">
    <title>DJ Sacrilicious</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <img src="img/logo.jpg" class="logo">
        <ul>
          <li><a href="#biography">BIOGRAPHY</a></li>
          <li><a href="#clients">CLIENTS</a></li>
          <li><a href="#calendar">GIGS</a></li>
          <li><a href="#sounds">SOUNDS</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
    @RenderBody()
    <div class="footer">
      <div class="container">
        <a href="http://facebook.com/djsacrilicious"><img src="img/icons/facebook-letter-logo.png" class="social-media" alt="Facebook"></a>
        <a href="http://www.twitter.com/djsacrilicious"><img src="img/icons/twitter-logo.png" class="social-media" alt="Twitter"></a>
        <a href="http://soundcloud.com/djsacrilicious"><img src="img/icons/soundcloud-logo.png" class="social-media" alt="Soundcloud"></a>
      </div>
    </div>
  </body>
</html>
